<div style="text-align:center">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" type="text">
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password">
    </div>
    <div>
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password">
    </div>
    
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
  </form>

  <!-- Success Message -->
  <div *ngIf="successMessage" style="color: green; margin-top: 20px;">
    {{ successMessage }}
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" style="color: red; margin-top: 20px;">
    {{ errorMessage }}
  </div>
</div>
